.footer
  position: fixed
  z-index: 100
  bottom: 0
  left: 0
  width: 100%
  opacity: 0
  padding-bottom: 50px
  padding-left: 10%
  +r(767)
    padding: 0 20px 12px 20px
  +r(992)
    padding-bottom: 25px
    padding-right: 25px
  .wrapper
    display: flex
    +r(992)
      justify-content: flex-end

  &__authors
    margin-left: auto
    max-width: 400px
