.navigation {
  position: fixed;
  bottom: 0;
  left: 50%;
  min-width: 25%;
  min-height: 100px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slides-nav {
  position: relative;

  &__item {
    background: gray;
    border-radius: 50%;
    height: 10px;
    width: 10px;
  }
}
