@import '../utils/mixins'
@import '../utils/variables'

.navigation
  position: fixed
  bottom: 25px
  left: 80%
  min-width: 25%
  min-height: 100px
  transform: translateX(-50%)
  display: flex
  align-items: center
  justify-content: center

.slides-nav
  &__item
    float: left
    counter-reset: inc
    position: relative
    left: 25px

    &::before, &::after
      color: $white
      cursor: pointer
      line-height: 1

    +pseudo('after')
      +square(20px)
      counter-increment: inc
      content: counter(inc)
      font-size: 22px
      text-align: center

    &:first-child
      +pseudo('before')
        content: '\2190'
        font-size: 48px
        left: -50px
        top: -15px
