// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700')

// +font(RopaSans, 'ropasans-regular')
// +font(ranga, 'ranga-regular')
+font(Rubik-Regular, "Rubik-Regular.ttf", "truetype")

=ropa
  font-family: Rubik-Regular, sans-serif
  font-display: optional

body
  color: #fff
  line-height: 1.4
  +r(767)
    line-height: 1.2

.content
  font-family: Rubik-Regular

.link
  font-size: 20px
  line-height: 1.8
